In [1]:
#Strings method

In [2]:
#capitalize
txt = 'hello, welcome to nettech india'
x = txt.capitalize()
print(x)

Hello, welcome to nettech india

In [3]:
#casefold
m = 'delete the instructions'
n = m.casefold()
print(n)

delete the instructions

In [6]:
#center
txt = 'banana'
x = txt.center(20,'*')
print(x)

*******banana*******

In [10]:
#count
m = 'ashwini_nikhil_lembhe'
n = m.count('i')
print(n)

4

In [11]:
#encode
txt = 'my name is khan'
c = txt.encode()
print(c)

b'my name is khan'

In [13]:
txt = 'my 5645name is khan'
c = txt.encode(encoding='ascii', errors='backslashreplace')
print(c)

b'my 5645name is khan'

In [14]:
#endswith
txt = 'hello, welcome to my world'
c = txt.endswith('d')
print(c)

True

In [18]:
#expandtabs
txt = 'h\e\l\l\o'
m = txt.expandtabs(10)
print(m)

h\e\l\l\o

In [21]:
#find
txt = 'hello, welcome to my world'
x = txt.find('welcome',5,19)
print(x)

7

In [25]:
#format
txt = 'for only {price:2f} dollars'
print(txt.format(price = 49))
txt1 = 'for only {0} dollars'.format(49)
print(txt1)
txt3 = 'for only {} dollars'.format(49)
print(txt3)

for only 49.000000 dollars
for only 49 dollars
for only 49 dollars

In [26]:
#format_map

In [28]:
#index
txt = 'hello, welcome to my world'
x=txt.index('to')
print(x)

15

In [29]:
#isalnum
txt = 'hello, welcome to my world'
x = txt.isalnum()
print(x)

False

In [31]:
#isalpha
txt = 'hello, welcome to my world'
x = txt.isalpha()
print(x)
txt3 = 'world' #no space should be there
m = txt3.isalpha()
print(m)

False
True

In [32]:
#isascii
txt = 'hello, welcome to my world'
m = txt.isascii()
print(m)

True

In [34]:
#isdecimal
m = '250'
n = m.isdecimal()
print(n)

True

In [36]:
#isdigit
m = '5202'
c = '2.25'
n = m.isdigit()
o = c.isdigit()
print(n)
print(o)

True
False

In [38]:
#isidentifier
txt = 'demo'
txt1 = '2decomo'
c = txt.isidentifier()#cannot start with number
d = txt1.isidentifier()
print(c)
print(d)

True
False

In [39]:
#islower()
txt = 'Juliet'
c =txt.islower()
print(c)

False

In [42]:
#isnumeric
c = '2.56'
d = '2564'
e=d.isnumeric()
m = c.isnumeric()
print(m)
print(e)

False
True

In [45]:
#isprintable
txt = 'hello, welCome to my world#?'
x = txt.isprintable()
print(x)

True

In [48]:
#isspace
txt = 'hello, welcome to my world'
txt2 = ' '
m = txt.isspace()
m1 = txt2.isspace()
print(m)
print(m1)

False
True

In [55]:
#istitle
txt = 'hello, welcome to my world'
x = txt.istitle()
print(x)

False

In [56]:
txt = 'Hello'
c = txt.istitle()
print(c)

True

In [59]:
#isupper
txt = 'hello, welcome to my world'
txt1 = 'HELLO'
m = txt.isupper()
m1 = txt1.isupper()
print(m)
print(m1)

False
True

In [60]:
#join
mytuple = ('john','peter','vicky')
x = '#'.join(mytuple)
print(x)

john#peter#vicky

In [61]:
#ljust()
txt = 'banana'
x = txt.ljust(20)
print(x,"is my favorite fruit.")

banana               is my favorite fruit.

In [62]:
#lower
txt = 'GAB'
m = txt.lower()
print(m)

gab

In [74]:
#lstrip
txt = ",,,,,banana...djfdkdjg..."
m = txt.lstrip(",")
print(m)

banana...djfdkdjg...

In [76]:
#maketrans
txt = 'hello sami!'
n = txt.maketrans('s','p')#convert into mapping table
print(n)

{115: 112}

In [81]:
txt='Hi Sam!'
x = 'mSa'
y = 'eJo'
m = txt.maketrans(x,y)
print(txt.translate(m))

Hi Joe!

In [83]:
#partition
txt = "i could eat banana all day"
x = txt.partition('banana')
print(x)

('i could eat ', 'banana', ' all day')

In [84]:
#replace
txt = 'i like bananas'
m = txt.replace('bananas','apples')
print(m)

i like apples

In [85]:
#rfind
txt = 'Mi casa, su casa'#position of a word
x = txt.rfind('casa')
print(x)

12

In [86]:
#rindex
txt = 'Mi casa, su casa'
m = txt.rindex('casa')
print(m)

12

In [89]:
#rjust
txt = 'bananas'
m = txt.rjust(25,'*')
print(m)

******************bananas

In [90]:
#rpartition
txt = 'i could eat bananas all day, bananas are my favorite fruit'
m = txt.rpartition('bananas')
print(m)

('i could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [91]:
#rsplit
txt = 'apple, banana, grapes'
m = txt.split(",")
print(m)

['apple', ' banana', ' grapes']

In [100]:
#rstrip
txt = 'banana'
x = txt.rstrip()
print("i like",x,",",x,",is my favourite fruit")

i like banana , banana ,is my favourite fruit

In [101]:
#split
txt = 'welcome to the jungle'
m = txt.split()
print(m)

['welcome', 'to', 'the', 'jungle']

In [102]:
#splitlines
txt = 'thank you for the music\nwelcome to the jungle'
x = txt.splitlines()
print(x)

['thank you for the music', 'welcome to the jungle']

In [103]:
#startswith
txt = 'hello, welcome to my world'
m = txt.startswith('h')
print(m)

True

In [105]:
#strip
txt = "   banana   "
n = txt.strip()
print("of all fruits",n,"is my favorite fruit")

of all fruits banana is my favorite fruit

In [106]:
#swapcase
txt = 'Hello My Name is PETER'
n = txt.swapcase()
print(n)

hELLO mY nAME IS peter

In [107]:
#title
txt = "welcome to my world"
n = txt.title()
print(n)

Welcome To My World

In [109]:
#translate
mydict = {83:80}
txt = 'hello sam!'
print(txt.translate(mydict))

hello sam!

In [110]:
#upper
txt = "teddy_bear"
m = txt.upper()
print(m)

TEDDY_BEAR

In [112]:
#zfill
txt = '50'
m = txt.zfill(10)
print(m)

0000000050