In [2]:
#tuple are ordered collections of heterogenous data that are unchangeable
#1.ordered
#2. immutable
#3. heterogenous
#4. duplicates

In [3]:
#creating tuple
#using paranthesis()
#using tuple() constructor

In [4]:
t = (10,20,30,40)
print(t)

(10, 20, 30, 40)

In [5]:
type(t)

tuple

In [6]:
s_t = ("name",30,23.5)

In [7]:
s_t

('name', 30, 23.5)

In [12]:
tst = (True,False,True)
print(tst)

(True, False, True)

In [13]:
st = tuple(('Sam',55,66.3))

In [14]:
st

('Sam', 55, 66.3)

In [16]:
stc = ("Hello")
print(type(stc))
stc

<class 'str'>

'Hello'

In [17]:
stc = ("Hello",)
print(type(stc))
stc

<class 'tuple'>

('Hello',)

In [20]:
c = ("mane","red",26,23,23,50,99)
#duplicate values

In [19]:
c

('mane', 'red', 26, 23, 23, 50, 99)

In [21]:
print(len(c))

7

In [22]:
#access tuple items

In [23]:
c

('mane', 'red', 26, 23, 23, 50, 99)

In [24]:
print(c[1])

red

In [25]:
print(c[-3])

23

In [26]:
#slicing
print(c[2:5])

(26, 23, 23)

In [27]:
#indexing
print(c.index(23))

3

In [28]:
#membership operators
print(26 in c)

True

In [29]:
#tuple methods and function used with tuple
c

('mane', 'red', 26, 23, 23, 50, 99)

In [30]:
c1 = list(c)

In [32]:
c1

['mane', 'red', 26, 23, 23, 50, 99]

In [33]:
c1.append(55)

In [34]:
c1

['mane', 'red', 26, 23, 23, 50, 99, 55]

In [35]:
c = tuple(c1)

In [36]:
c

('mane', 'red', 26, 23, 23, 50, 99, 55)

In [37]:
a = [1,2,3,4]
a.sort(reverse=True)

In [38]:
a

[4, 3, 2, 1]

In [39]:
#list in a tuple can modify
cm = (10,20,[30,40,50])

In [40]:
cm

(10, 20, [30, 40, 50])

In [43]:
cm[2][0]=250

In [44]:
cm

(10, 20, [250, 40, 50])

In [45]:
#removing items from a tuple
del a

In [47]:
cv = list(cm)

In [48]:
cv

[10, 20, [250, 40, 50]]

In [53]:
cv.remove(10)

In [54]:
cv

[[250, 40, 50]]

In [55]:
cv.count(0)

0

In [56]:
t1 = (10,20,30)

In [57]:
t2 = (40,50,60)

In [58]:
t3 = t1 + t2

In [59]:
t3

(10, 20, 30, 40, 50, 60)

In [60]:
t3 = sum((t1,t2),())

In [61]:
t3

(10, 20, 30, 40, 50, 60)

In [62]:
print(max(t3))

60

In [63]:
print(min(t3))

10

In [64]:
t6 =('a','e','i',10,20)

In [65]:
print(max(t6))

TypeError: '>' not supported between instances of 'int' and 'str'

In [1]:
"""there are no appen() or extend()
to add items and similarly no remove()or pop
as they are immutable they can be used as a key for the dictiona
ries while list cannot be used for this purpose
here the search operation is much faster than the 
list this is because the id of the items remains constant"""

'there are no appen() or extend()\nto add items and similarly no remove()or pop\nas they are immutable they can be used as a key for the dictiona\nries while list cannot be used for this purpose\nhere the search operation is much faster than the \nlist this is because the id of the items remains constant'